@font-face {
  font-family: 'Georgia';
  src: url('../../media/fonts/georgia/Georgia.eot?#iefix')  format('embedded-opentype'),
       url('../../media/fonts/georgia/Georgia.woff')        format('woff'),
       url('../../media/fonts/georgia/Georgia.ttf')         format('truetype'),
       url('../../media/fonts/georgia/Georgia.svg#Georgia') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ADAM-CGPRO';
  src: url('../../media/fonts/ADAM-CGPRO/ADAM-CGPRO.eot?#iefix')     format('embedded-opentype'),
       url('../../media/fonts/ADAM-CGPRO/ADAM-CGPRO.otf')            format('opentype'),
       url('../../media/fonts/ADAM-CGPRO/ADAM-CGPRO.woff')           format('woff'),
       url('../../media/fonts/ADAM-CGPRO/ADAM-CGPRO.ttf')            format('truetype'),
       url('../../media/fonts/ADAM-CGPRO/ADAM-CGPRO.svg#ADAM.CGPRO') format('svg');
  font-weight: normal;
  font-style: normal;
}
