#menuBtn {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 30px;
  height: 21px;
  div {
    width: 30px;
    height: 4px;
    background-color: #FFF;
    position: relative;
    top:8px;
    @include transition(all 0.2s ease-out);

    &:before, &:after {
      content: '';
      display: block;
      width: 30px;
      height: 4px;
      background-color: #FFF;
      position: absolute;
      left: 0;
      @include transition(all 0.3s ease-out);
    }

    &:before {
      top: -8px;
    }

    &:after {
      bottom: -8px;
    }
  }
}

#menuBtn.rotated{
  div {
    background-color: transparent;

    &:before {
      @include transform(rotate(-45deg));
      top:0;
    }

    &:after {
      @include transform(rotate(45deg));
      bottom: 0;
    }

  }

}


#menu {

  position: fixed;
  width: 300px;
  height: 100vh;
  background-color: #000;
  top: 0;
  left: -300px;
  -webkit-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
  -moz-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
  -o-transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
  transition: all 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */

  -webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
  -moz-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
  -o-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
  transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
  ul {
    text-decoration: none;
    color: white;
    font-family: 'Georgia', serif;
    font-size: 18px;
    text-align: center;

  }
}

#menu.expanded {

  left: 0;
}